/* Recipe Search Section */
#search-results-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.recipe-option {
    height: 400px;
    width: auto;
    background-position: center;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    color: white;
    font-size: 48px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#results-options {
    /* display: none; */
}